body {
    background-color: white;
    margin: 0;
    height: 100vh;
    padding: 0;
    position: relative;


}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: plum;
    height: calc(100% - 60px);
    margin: 30px;
    
}

.container {

    max-width: 808px;
    
 
}

.card {
    border-radius: 24px;
    box-shadow: 12px;
    overflow: hidden;
    background-color: white;
}

 .image-wrapper {
    background-color: yellow;
    border-radius: 50px ;
    position: absolute;
    top: 8px;
    left: -6px;
    



}
.image-wrapper {
    position: relative;
    
}

.image-wrapper img {
 width: 100%;
 
}

.first-paragraph, .first-heading {
    color: black;
    padding: 12px;
}

span {
    color: black;
}

.nav-list {
    display: flex;
    list-style: none;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 2.875rem;
    color: purple;
    font-weight: 500;
}

@media(max-width: 560px) {
    .nav-list {
        flex-direction: column;
    }
  }